@charset "utf-8";
/* CSS Document */
@import url("reset.css");
html{ -webkit-text-size-adjust:none; }/*清除apple行動裝置文字的bug*/
.head_logo {height:55px; width:69px;background:url(../images/head_logo.png) 0 0 no-repeat; background-size:100%; float:left;    margin-top: -10px; }
#header-wrap .head_logo a{background:none;height:55px; width:69px;display:block;padding-left:0; }
#header-wrap .head_logo a:hover{background:none;}
#loading_wrapper{	
	position:fixed;
	z-index:999999999;
	top:0px;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	height:100%;
	background-color: rgba(143,62,27,0.95);
}

.loadingBg {
	position:absolute;
	z-index:999999995;
	width:100%;
	background:#3dbae8;
	opacity:1;
	
	}

.loading {
    position: fixed;
    z-index: 999999999;
    left: 50%;
    margin-left: -35px;
    top: 40%;
    margin-top: 0;
    width: 76px;
    height: 89px;
    background: url(../images/loding.gif) center no-repeat;
    background-size: 100% auto;
	}

.clear:before,.clear:after {display: block; content: ""; }
.clear:after {clear: both; }
.one{ height:919px; width:100%;position:relative;}
.banner{ height:919px; width:100%;background:url(../images/bg.jpg) top center no-repeat;  overflow:hidden; position:relative;z-index:5}
.green{ position: absolute;left:-10px; top: 0;height:100%; width:105%; background:url(../images/bg.jpg) top center no-repeat; background-size:cover; z-index:0}
.wrap{ width:1000px; margin:auto;position:relative;}
.logo{position:absolute;left:85px; top:-40px; width:216px; height:716px;  background:url(../images/logo.png) 0 0 no-repeat; display:block;z-index:1; text-indent:-9999px;}
.drink{position:absolute;left:277px; top:100px; width:655px; height:980px;  background:url(../images/milk.png) 0 0 no-repeat; display:block;z-index:1;}
.left_leaf{position:absolute;left:-229px; top:175px; width:260px; height:710px; z-index:9999; }
.left_leaf1{position:absolute;left:0; top:0; width:296px; height:64px; background:url(../images/left_leaf1.png) 0 0 no-repeat;}
.left_leaf2{position:absolute;right:0; top:216px; width:296px; height:102px;background:url(../images/left_leaf2.png) 0 0 no-repeat;}
.left_leaf3{position:absolute;left:-200px; top:-70px; width:296px; height:130px;background:url(../images/left_leaf3.png) 0 0 no-repeat;z-index:9999}
.right_leaf{position:absolute;right:-229px; top:-75px; width:269px; height:958px; ; }
.right_leaf1{position:absolute;right:0; top:0; width:296px; height:163px; background:url(../images/right_leaf1.png) 0 0 no-repeat;}
.right_leaf2{position:absolute;left:0; top:337px; width:296px; height:116px;background:url(../images/right_leaf2.png) 0 0 no-repeat;}
.right_leaf3{position:absolute;left:870px; top:0px; width:296px; height:94px;background:url(../images/right_leaf3.png) 0 0 no-repeat;z-index:9999}
.header_border{z-index:9;  position: absolute;top:793px;height:126px; width:100%;}
header{height:126px; width:100%;top:0;}
#header-wrap{ height:126px; width:100%;background:url(../images/menu.png) top center no-repeat; top:0; position:relative;overflow:hidden;}
#header-wrap h1 a{ display:none; background:url(../images/mobile_logo.png) 0 0 no-repeat; width:55px; height:50px; background-size:cover; margin:10px auto}
#header-wrap nav{width:1000px; margin:20px auto; margin-top:75px;}
#header-wrap nav >div {float:left;width:100%;height:420px;}
#header-wrap nav a{ 
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    background: url(../images/leaf_menu.png) 6% 35% no-repeat;
    background-size: 20%;
    padding-left: 35px;
    margin: 0 10px; transition:all 0.3s; font-weight:bold; }
#header-wrap nav a:hover{color: #ffcf61;transition:all 0.3s;background: url(../images/leaf_menu2.png) 6% 35% no-repeat;background-size: 20%;}
h1{ display:none}

/*top*/
.cd-top { cursor:pointer;display:inline-block;height:60px;width:60px;position:fixed;bottom:70px;right:10px;overflow:hidden;text-indent:100%;white-space:nowrap;background:url(../images/top.png) 0 0 no-repeat;visibility:hidden;opacity:0;background-size:100%;-webkit-transition:opacity .3s 0s,visibility 0s .3s;-moz-transition:opacity .3s 0s,visibility 0s .3s;transition:opacity .3s 0s,visibility 0s .3s;z-index:9;}
.cd-top.cd-is-visible,.cd-top.cd-fade-out,.no-touch .cd-top:hover {-webkit-transition:opacity .3s 0s,visibility 0s 0s;-moz-transition:opacity .3s 0s,visibility 0s 0s;transition:opacity .3s 0s,visibility 0s 0s;}
.cd-top.cd-is-visible {visibility:visible;opacity:1;}
.cd-top.cd-fade-out {opacity:1;}
.no-touch .cd-top:hover {background-color:#e86256;opacity:1;}
/*第二場景*/
.article3{ display:none;}
.second{  width:100%;background:url(../images/second.jpg) 0 0 repeat;  overflow:hidden; }
.article{ float:left; position:relative; width:460px;  margin-top:60px;  }
.second2{ width:188px; height:55px;float:left;  background:url(../images/title.png); background-size:100%;   text-indent:-9999px}
.second3{ font-size:14px; color:#727171; line-height:21px; width:100%; float:left;  margin-top:51px;}
.article2{ float:right; position:relative; width:460px; margin-top: -20px;   }
.leaf_b{
    position: relative;
    right: 16px;
   
    z-index: 3;
}
.cup{ 
    position: relative;
    right: 0;
    margin-top: -160px; z-index:0;
    /*! top: 10px; */
    
    -webkit-transform: translate3d(0px, 10px, 0);
    transform: translate3d(0px, 10px, 0);
}
/*第二點五場景*/
#b2_5.second {
    padding-top: 110px;
	background-image: url(../images/bg_2.jpg);
    background-repeat: no-repeat;
    background-position: top center;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
#b2_5.second .second2 {
	width: 134px;
	height: 55px;
	float: left;
	background: url(../images/title3.png);
	background-size: 100% 100%;
	text-indent: -9999px;
    overflow: hidden;
}
#b2_5 .img_box,
#b2_5 .txt_box {
    position: relative;
}
#b2_5 .img_box {
    margin-bottom: 40px;
}

#b2_5 .img_box .owl_prev {    
    width: 57px;
    height: 123px;
    margin-top: -61.5px;
    text-indent: -9999px;
    background: url(../images/allow.png) 0 0 no-repeat;
    border: 0;
    position: absolute;
    top: 65%;
    left: 15px;
    z-index:2;
}
#b2_5 .img_box .owl_next {
    width: 57px;
    height: 123px;
    margin-top: -61.5px;
    text-indent: -9999px;
    background: url(../images/allow2.png) 0 0 no-repeat;
    border: 0;
    position: absolute;
    top: 65%;
    right: 15px;
    z-index:2;
}
#owl-pro .owl-stage {
/*     margin-left: -370px; */
    margin-left: -130px;
}
#owl-pro .center {z-index:2}
#owl-pro .item {
}
#owl-pro .item img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
}

    #owl-pro .owl-item .item img {
        opacity: .5;
}
#owl-pro .owl-item.center .item img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
    opacity: 1;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.8));
    filter: url(shadow.svg#drop-shadow);
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.8));
    filter: progid: DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='rgba(255,255,255,0.8)');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='rgba(255,255,255,0.8)')";
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
#b2_5 .txt_box {
    padding: 30px 60px 60px;
    margin: auto;
    margin-bottom: 4px;
    background: url(../images/leaf_bg.png) 0 0 repeat;
    overflow: hidden;
    -webkit-box-shadow: 0px -12px 15px rgba(12,3,7,0.3);
    box-shadow: 0px -12px 15px rgba(12,3,7,0.3);
}
/* #owl-txt .item {   -webkit-animation-duration: 0s;animation-duration: 0s;}
#owl-txt .item.center {-webkit-animation-duration: 0s;animation-duration: 0s;}
#owl-txt .item.owl-animated-in {-webkit-animation-duration: 0s;animation-duration: 0s;}
#owl-txt .item.center.owl-animated-in {-webkit-animation-duration: 1s;animation-duration: 1s;} */
#owl-txt .item .txt {
    
}
#owl-txt .item h3 {
    margin-left: 0;
    margin-bottom: 15px;
    background-image: url(../images/drink.png);
}
#owl-txt .item p {
    
}
#owl-txt.owl-carousel .owl-stage-outer {
    padding-top: 0px;
}
/*第三場景*/
.C1{  border:#996716 1PX SOLID; overflow:hidden;width:262PX; height:621PX; background:#fff; margin:auto}
.third{width:100%; height:707px; margin-top: -4px; background:url(../images/third_bg.jpg) 0 0 no-repeat; }
.third2{ margin-top:113PX; width:174px; height:55px;float:left;  background:url(../images/title2.png); background-size:100%;   text-indent:-9999px}
.wrap2{ width:1100px;height:621PX; }
h3{ background: url(../images/drink.jpg) 0 0 no-repeat;
    margin: 0 35px;
    height: 32px;
    padding-top: 15px;
    color: #b39246;
    font-size: 24px;
    text-align: left;
    padding-left: 35px;
    font-weight: bold;}

.third_shadow{ width:270px; margin:auto;}
.add{     text-align: left;
    line-height: 24px;
    overflow: hidden;
    float: left;
    padding-left: 35px;
    width: 190px;
    margin-top:5px;
    color: #727171; font-size:18px;}
.C1 dt{ overflow:hidden}

/*第4場景*/
#owl-demo1{ float:left; height:328px; overflow:hidden; margin-top:-328px}
#owl-demo1 img{ margin:auto}
.footer{  letter-spacing:2px; width:100%; min-height:27px; line-height:24px; background:#d0af4e; padding:15px 0; font-size:21px; position:fixed; z-index:8; bottom:0; color:#fff;}
.four{ width:100%;background:url(../images/leaf_bg.jpg) center bottom no-repeat; position:relative; overflow:hidden; }
.footer_logo{ width:100%;background:#842c05; overflow:hidden; float:left; padding:15px 0;}
.footer_logo h4{background:url(../images/footer_logo.png) 0 0 no-repeat; width:69px; height:65px; display:block; float:left;}
.Copyright{ width: 540px;
    min-height: 41px;
    float: left;
    margin-top: 20px;
    margin-left: 10px; font-size:11px; color:#fff;}
.width687{ width:620px; margin: auto;}
.owl-nav{    margin-top: -400PX; position:relative; z-index:9999}
.owl-prev{float: right; width:57px; height:123px; text-indent:-9999px;background:url(../images/allow2.png) 0 0 no-repeat;     margin-right: -30px; }
.owl-next{float: left; width:57px; height:123px; text-indent:-9999px;background:url(../images/allow.png) 0 0 no-repeat;     margin-left: -30px; }
.width1000{ width:1000px; margin:auto; /*margin-top:226px;*/margin-top:80px;background:url(../images/leaf_bg.png) 0 0 repeat; overflow:hidden; box-shadow: 0px 5px 15px rgba(12,3,7,0.3);}
.join{ float:left; margin-top:65PX}
.join_b{ clear:both;  width:90%; margin:39px auto; padding:29px 0; font-weight:bold; color:#727171; padding-bottom:250px;}
.join_b h5{ font-size:18px; font-weight:bold;margin: 30px 0 5PX 0;}
.join_b p.con{font-size:14px; margin-bottom:14px;font-weight: normal; }
/*pc店家*/
.mobile_store{ display:none;}
.pc_store{ width:828px; margin:auto}
.pc_C1{width:100%;    border: #996716 1PX SOLID; overflow:hidden;    HEIGHT: 324PX;    background: #fff;}
.pc_C1 dt{ float:left;    margin-top: 15px;}
.pc_C1 dd{ float:left}







